body {
        background-color:black;
    }
    
    h1 {
        color:#008695;
        text-align:center;
        font-size:2.8em;
    }
    
      .game-grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr); 
      gap: 20px;
      padding: 20px;
      justify-items: center;
      margin-top: 120px;
      width: 100%;
      box-sizing: border-box;
    }
    
    

    .game-slot {
    width: 250px;
    height: 250px;
    background-color: #008695;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    }

    .game-slot img {
    width: 218px;
    height: 175px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 5px rgba(0, 255, 255, 0.7));
    }

    .game-slot a {
    text-decoration: none;
    color: #00865;
    font-size: 1.8em;
    text-shadow: 0 0 5px #008695, 0 0 10px #008695;
    }

    .game-8, .game-9, .game-10, .game-11, .game-12, .game-13, .game-14, .game-15, .game-16 {
      grid-row: 2;
    }
